@import url('@csstools/normalize.css');
@import url('./base.scss');

.ant-btn-primary {
  background-color: var(--primary-color);

  &:not(:disabled):active,
  &:not(:disabled):hover {
    background-color: var(--primary-color);
  }
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: var(--primary-color);
}

#nprogress .bar {
  background-color: var(--primary-color) !important;
}

.side {
  .ant-menu {
    width: 100% !important;

    .ant-menu-item {
      display: flex;
      align-items: center;
    }
  }
}

*::placeholder {
  color: rgb(12, 12, 12) !important;
}

.ant-modal-root {
  .ant-modal-header {
    .ant-modal-title {
      font-size: 19px;

      /* color: #b33c50; */
    }
  }
}
